{% extends "index.html" %}
{% load static %}
{% block title %}Events-page{% endblock title %}

{% block hero %}

<section class="flex bg-gray-700 font-4 mt-24">
    <div class="w-1/5  min-h-lvh ps-3 border-e-2 border-gray-800">
        <h2 class="text-2xl text-gray-50 p-1 font-4-400">Category:</h2>
        <form action="" class="p-1">
            <div class="relative ">
                <input class="p-1 pe-10  w-full rounded-md bg-gray-200 hover:bg-gray-300 outline-none border-[1.5px]  focus:border-green-400 absolute top-0 left-0 z-10" type="text" placeholder="Search..." name="search">
                <button class="absolute  right-0 z-20 px-2 py-1 cursor-pointer hover:text-green-700 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                      </svg>
                      
                </button>
            </div>
        </form>
        <div class="ps-6 mt-10 text-lg text-gray-50 font-4-200">
            <ul>
                {% if categorys %}
                {% for category in categorys %}
                <li ><a class="px-2 py-1 rounded-md inline-block hover:bg-gray-100/20 hover:text-green-50 transform duration-150" href="{% url 'events-show' %}?category={{category.id}}">{{category.category_name}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="w-4/5 lg:overflow-y-scroll">
        <div class='lg:max-h-lvh'>
        {% if events %}
        {% for event in events %}
        
        <div class="p-3 mb-2 bg-gray-200/10 flex gap-5 items-start">
            <div class="w-64 h-72 bg-cover bg-center rounded-lg flex flex-col  justify-center shadow-md shadow-gray-900/30" style="background-image: url({% static 'images/photo-1.jpg' %});">
              <div class="w-full  p-5 text-center font-4-500 text-xl text-gray-200 bg-purple-400/30  ">{{event.date|date}}</div>
              <div class="w-full  p-5 text-center font-4-500 text-xl text-gray-200 bg-lime-400/30  ">{{event.time|time}}</div>
            </div>
            <div class="text-gray-100">
              <h3 class="text-2xl text-green-600 font-4-600 pt-6">{{event.name}}</h3>
              <p class="text-lg font-4-400 ">{{event.category}}</p>
              <p class="text-md font-4-300 ">{{event.description}}</p>
              <div class="text-sm font-4-200 text-gray-300">{{event.date|timeuntil}} later</div>
  
            </div>  
  
          </div>
        
        {% endfor %}
        {% endif %}
    </div>
    </div>
</section>

{% endblock hero %}