
.tr{
    background-color: red;
}

.font-4{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.font-4-100{
    font-weight: 100;
}
.font-4-200{
    font-weight: 200;
}
.font-4-300{
    font-weight: 300;
}
.font-4-400{
    font-weight: 400;
}
.font-4-500{
    font-weight: 500;
}
.font-4-600{
    font-weight: 600;
}
.font-4-700{
    font-weight: 700;
}


/* for guest userpage  */

  body {
            font-family: 'Poppins', sans-serif;
        }
        .gradient-bg {
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        }
        .event-card:hover {
            transform: translateY(-5px);
            transition: transform 0.3s ease;
        }
