{% extends "guest/guest-page.html" %}
{% block title %}Create Category{% endblock title %}
{% block main_class %}class="flex-grow flex items-center justify-center px-6 py-10 min-h-lvh"{% endblock main_class %}
{% block content  %}


<div class="mx-auto my-28 bg-gray-800  shadow-lg rounded-2xl p-8 w-full max-w-xl transition duration-300">
    <h2 class="text-2xl py-5 font-semibold text-green-600 mb-6 text-center">Create Category</h2>

        <!-- Messages -->
    {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="p-2 text-center font-semibold 
                            {% if message.tags == 'success' %}text-green-600{% else %}text-red-600{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <form method="POST" class="space-y-6 mb-8">
        {% csrf_token %}

        {% for form in forms %}
        <div>
            {{ form }}
        </div>
        {% endfor %}


        <!-- Submit Button -->
       <div class="text-center mt-8 mb-6 flex justify-center">
        <button 
            type="submit" 
            class="w-1/2 h-11 bg-gradient-to-r from-indigo-600 to-blue-500 text-white font-semibold 
                rounded-lg shadow-md hover:shadow-lg hover:scale-[1.02] 
                focus:outline-none focus:ring-4 focus:ring-blue-300 
                transition-all duration-300 ease-in-out"
        >
            Submit
        </button>
        </div>



    </form>
</div>

{% endblock content  %}